.container{
    width: 60%;
}
.sfondo-header{
    height: 100px;
    background-image: url("../img/pattern.png");
    background-size: contain;
    background-color: royalblue;
}

#boolean{
    width: 10%;
    margin-top: 50px;
}

.riferimenti{
    color: grey
}

#ciano{
    color:lightskyblue;
}

.foto{
    font-size: 12px;
}

.evidenziato{
    background-color: yellow    ;
}

.colore-intestazione{
    background-color:dodgerblue;
    color: white;
}
.colore-riga{
    background-color: skyblue;
}