.container-header{
    
}

.sfondo-header{
    height: 100px;
    background-image: url("../img/pattern.png");
    background-size: contain;
    background-color: royalblue;
}

#boolean{
    width: 10%;
    margin-top: 50px;
}

.riferimenti{
    color: grey
}

#ciano{
    color:lightskyblue;
}